<div class="container_challenge_subtitle">
    <h2>解答受付中のコンテスト</h2>
    <hr>
</div>
<div class="container_challenge_item container_challenge_item_0">
    <div class="challenge_info">
        <a href="#"></a>
        <h5>2020/10/03</h5>
        <h3>Too3</h3>
        <h6>Go to contest pages <i class="fas fa-chevron-right"></i></h6>
    </div>
    <div class="challenge_list">
        <div class="challenge_list_container">
            <div class="challenge_list_container_0">
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>11</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>CNN画像分類</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>12</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>yolo入門</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>13</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>yoloデータ拡張</h3>
                    </div>
                </div>
            </div>
            <div class="challenge_list_container_null"></div>
            <div class="challenge_list_container_0">
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>14</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>???</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>15</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>???</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container_challenge_item container_challenge_item_1">
    <div class="challenge_info">
        <a href="#"></a>
        <h5>2020/09/26</h5>
        <h3>Too2</h3>
        <h6>Go to contest pages <i class="fas fa-chevron-right"></i></h6>
    </div>
    <div class="challenge_list">
        <div class="challenge_list_container">
            <div class="challenge_list_container_0">
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>06</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>画像処理の基礎1</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>07</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>画像処理の基礎2</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>08</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>画像処理の基礎3</h3>
                    </div>
                </div>
            </div>
            <div class="challenge_list_container_null"></div>
            <div class="challenge_list_container_0">
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>09</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>画像処理の基礎4</h3>
                    </div>
                </div>
                <div class="challenge_contents">
                    <a href=""></a>
                    <div class="challenge_contents_num">
                        <h3>10</h3>
                    </div>
                    <div class="challenge_contents_problem">
                        <h3>画像処理の基礎5</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container_challenge_subtitle">
    <h2>終了済みのコンテスト<a href="">See All  <i class="fas fa-chevron-right"></i></a></h2>
    <hr>
</div>
<div class="container_challenge_end">
    <div class="challenge_end_item">
        <a href=""></a>
        <div class="challenge_end_deco">
            <div class="challenge_end_box"></div>
        </div>
        <div class="challenge_end_text">
            <h4>Too1</h3>
            <h5>2019/09/19</h5>
        </div>
    </div>
    <div class="challenge_end_item">
        <a href=""></a>
        <div class="challenge_end_deco">
            <div class="challenge_end_box"></div>
        </div>
        <div class="challenge_end_text">
            <h4>KIOXIA4</h3>
            <h5>2019/07/--</h5>
        </div>
    </div>
    <div class="challenge_end_item">
        <a href=""></a>
        <div class="challenge_end_deco">
            <div class="challenge_end_box"></div>
        </div>
        <div class="challenge_end_text">
            <h4>KIOXIA3</h3>
            <h5>2019/07/--</h5>
        </div>
    </div>
    <div class="challenge_end_item">
        <a href=""></a>
        <div class="challenge_end_deco">
            <div class="challenge_end_box"></div>
        </div>
        <div class="challenge_end_text">
            <h4>KIOXIA2</h3>
            <h5>2019/07/--</h5>
        </div>
    </div>
</div>